.ContainerDashBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 2rem;
    height: 100vh;
}

.Filters {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    background-color: var(--color-light-green);
    height: 80%;
    border-radius: 1rem 0 0 1rem;
}

.ChartDashBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-black);
    background-color: var(--color-off-white);
    padding: 2em 0rem;
    height: 80%;
    width: 80%;
    border-radius: 0 1rem 1rem 0;
}

.municipio {
    display: flex;
    flex-direction: column;
    color: var(--color-text-white);
    font: 14px;
    font-weight: 600;
}

.municipio select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-off-white);
    background-color: var(--color-medium-blue);
    color: var(--color-text-white);
    font: 14px;
    font-weight: 600;
}

.ano {
    display: flex;
    flex-direction: column;
    color: var(--color-text-white);
    font: 14px;
    font-weight: 600;
}

.ano select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-off-white);
    background-color: var(--color-medium-blue);
    color: var(--color-text-white);
    font: 14px;
    font-weight: 600;
}

.grafico {
    display: flex;
    flex-direction: column;
    color: var(--color-text-white);
    font: 14px;
    font-weight: 600;
}

.grafico label:has(input:checked) {
    background-color: var(--color-medium-blue);
}

.grafico label:hover {
    background-color: var(--color-light-blue);
}


.TypeChart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 0;
    border: 2px solid var(--color-off-white);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.TypeChart input{
    display: none;
}